nodered.json
[{"id":"a02fb96e.6aa17","type":"comment","z":"92f13151.2b3cd","name":"Watson Assistant + Chatfuel","info":"","x":140,"y":200,"wires":[]},{"id":"906a2d78.6b252","type":"http in","z":"92f13151.2b3cd","name":"GET /chatfuel","url":"/chatfuel","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["92308ced.13065","5469297e.f5d51"]]},{"id":"92308ced.13065","type":"change","z":"92f13151.2b3cd","name":"Mensagem no Payload","rules":[{"t":"set","p":"user","pt":"msg","to":"req.query.user","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["8b511ac9.62bc08"]]},{"id":"8b511ac9.62bc08","type":"watson-conversation-v1","z":"92f13151.2b3cd","name":"Workspace","workspaceid":"8d687d9a-f990-4cb0-81b5-b8ef86e7682f","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":530,"y":240,"wires":[["7811d031.9bdfb8","a8bdfe8b.7cf9a8"]]},{"id":"a8408368.c6671","type":"http response","z":"92f13151.2b3cd","name":"Retorno HTTP","statusCode":"","headers":{},"x":1040,"y":240,"wires":[]},{"id":"7811d031.9bdfb8","type":"function","z":"92f13151.2b3cd","name":"Parse JSON do Watson Assistant","func":"if (msg.payload) {\n    let output = msg.payload.output.generic;\n    msg.payload = { messages: [] };\n    for (var i = 0; i < output.length; i++) {\n        if (output[i].response_type === \"text\") {\n            msg.payload.messages.push({ text: output[i].text });    \n        } else if (output[i].response_type === \"image\") {\n            msg.payload.messages.push({ attachment: { type: \"image\", payload: { url: output[i].source }}})\n        } else if (output[i].response_type === \"option\") {\n            var buttons = [];\n            for (var b = 0; b < output[i].options.length; b++) {\n                buttons.push({ type: \"show_block\", block_names: [\"Options\"], title: output[i].options[b].label });\n            }\n            msg.payload.messages.push({ attachment: { type: \"template\", payload: { template_type: \"button\", text: output[i].title, buttons: buttons }}});\n        } else {\n            msg.payload.messages.push({ text: \"Erro no retorno da API\" })\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["a8408368.c6671","4de4ceae.4109c8"]]},{"id":"4de4ceae.4109c8","type":"debug","z":"92f13151.2b3cd","name":"Print( msg.payload )","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1060,"y":280,"wires":[]},{"id":"a8bdfe8b.7cf9a8","type":"debug","z":"92f13151.2b3cd","name":"Print( msg.payload )","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":280,"wires":[]},{"id":"5469297e.f5d51","type":"debug","z":"92f13151.2b3cd","name":"Print( msg )","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":280,"wires":[]}]