nodered.json
[{"id":"d769b33c.aefd18","type":"comment","z":"bb47dde8.d019f8","name":"Watson Assistant + Chatfuel","info":"","x":140,"y":40,"wires":[]},{"id":"1e5d9303.87469d","type":"http in","z":"bb47dde8.d019f8","name":"GET /bot","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":80,"y":80,"wires":[["e3e47bb6.ef10b"]]},{"id":"e3e47bb6.ef10b","type":"change","z":"bb47dde8.d019f8","name":"Mensagem no Payload","rules":[{"t":"set","p":"user","pt":"msg","to":"req.query.usuario","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["95528810.4c55e"]]},{"id":"95528810.4c55e","type":"watson-conversation-v1","z":"bb47dde8.d019f8","name":"Workspace","workspaceid":"","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":510,"y":80,"wires":[["cd32ee52.510bc","ecf292f3.a3f488"]]},{"id":"cd32ee52.510bc","type":"debug","z":"bb47dde8.d019f8","name":"Debug: msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":120,"wires":[]},{"id":"206b697e.742456","type":"http response","z":"bb47dde8.d019f8","name":"Retorno HTTP","statusCode":"","headers":{},"x":1020,"y":80,"wires":[]},{"id":"7c0030bf.46d4","type":"debug","z":"bb47dde8.d019f8","name":"Debug: msg.payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040,"y":40,"wires":[]},{"id":"ecf292f3.a3f488","type":"function","z":"bb47dde8.d019f8","name":"Parse JSON do Watson Assistant","func":"if (msg.payload) {\n    let output = msg.payload.output;\n    msg.payload = { messages: [] };\n    for (var i = 0; i < output.text.length; i++) {\n        msg.payload.messages.push({ text: output.text[i] })\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["206b697e.742456","7c0030bf.46d4"]]}]